# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

Deploy\*
Build/build-ChatTabs-Clone_de_Desktop_Qt_5_3_clang_64bit-Debug/.qmake.stash
Build/build-ChatTabs-Clone_de_Desktop_Qt_5_3_clang_64bit-Debug/ChatTabs.app/Contents/Info.plist
Build/build-ChatTabs-Clone_de_Desktop_Qt_5_3_clang_64bit-Debug/ChatTabs.app/Contents/PkgInfo
Build/build-ChatTabs-Clone_de_Desktop_Qt_5_3_clang_64bit-Debug/ChatTabs.app/Contents/Resources/empty.lproj
